In [1]:
import pandas as pd
import openpyxl

In [2]:
fields = ['Brand', 'sku', 'category', 'name']

In [3]:
time z = pd.read_csv("items_code_2.csv", usecols=fields, dtype={"Brand": str, 'sku': str, 'category': str, 'name': str}, nrows=1000)

Wall time: 220 ms

In [4]:
z.head()

,Brand,category,name,sku
0,BLASTER,Cleaning and Janitorial >> Cleaning Chemicals ...,"Natural Solvent Cleaner/Degreaser, 11 oz. Aero...",4LRF6
1,LUMAPRO,Lighting >> Bulbs and Lamps >> Plug-In (PL) Lamps,"26 Watts Plug-In CFL, T4 PL, 4-Pin (G24Q-3), ...",35ZU36
2,NORTON,Abrasives >> Sanding Hand Pads and Sponges >> ...,"Very Fine Grade, Sanding Hand Pad",4LL50
3,NORTON,Abrasives >> Sanding Hand Pads and Sponges >> ...,"Very Fine Grade, Sanding Hand Pad",4LL48
4,NORTON,Abrasives >> Sanding Hand Pads and Sponges >> ...,"Very Fine Grade, Sanding Hand Pad",4VB29

In [5]:
skus = pd.read_csv("skus.csv")
skus.head()

     sku
0  1AH99
1  2V553
2  2V423
3  2UUE4
4  2RA26

In [6]:
products = z.loc[:,['sku','name']]

In [7]:
splitted = z.category.str.split('>>', expand=True)

In [8]:
joined = products.join(splitted)

In [9]:
merged = pd.merge(joined, skus, how='inner')

In [10]:
merged.head()

,sku,name,0,1,2,3,4
0,4CR59,Short Plain Metric Black Oxide Ball End Hex Ke...,Tools,Wrenches,Hex and Torx Keys and Sets,None,None
1,2CYC7,Long Plain SAE/Metric Black Oxide Ball End Hex...,Tools,Wrenches,Hex and Torx Keys and Sets,None,None
2,4NB46,"Long Plain Metric Chrome Ball End Hex Key Set,...",Tools,Wrenches,Hex and Torx Keys and Sets,None,None
3,2CYC6,Long Plain SAE Black Oxide Ball End Hex Key Se...,Tools,Wrenches,Hex and Torx Keys and Sets,None,None
4,4CR56,Long Plain SAE Black Oxide Ball End Hex Key Se...,Tools,Wrenches,Hex and Torx Keys and Sets,None,None

In [11]:
merged.shape

(8, 7)

In [12]:
merged.to_csv('merged.csv', encoding='utf-8', index=False)

In [14]:
#writer = pd.ExcelWriter('merged_v2.xlsx')
#merged.to_excel(writer,'hoja 1',index=False)
#writer.save()